extends layout

block content
    link(rel='stylesheet', href='/stylesheets/pages/profile.css')

    .modal(id="modal") 
    header.w3-teal.w3-row.w3-display-container
        h1.w3-margin-left.w3-col(style="width: auto")= title
        //- Navigation Bar
        .w3-bar.w3-teal.w3-display-right.w3-margin-right.w3-round(style="width: auto")
            a.w3-bar-item.w3-button.smooth-3(href="/home") Home
            a.w3-bar-item.w3-button.smooth-3(href="/tribunais") Tribunais
            a.w3-bar-item.w3-button.smooth-3(href="/taxonomia") Taxonomia
            a.w3-bar-item.w3-button.smooth-3(href="/favoritos") Favoritos
            a.w3-bar-item.w3-button.smooth-3.w3-dark-grey(href="/profile") Perfil
            if admin
                a.w3-bar-item.w3-button.smooth-3(href="/acordaos/add") Adicionar acórdãos
                    i.fa-solid.fa-shield.fa-lg.w3-padding-small
                a.w3-bar-item.w3-button.smooth-3(href="/signupAdmin") Criar ADM
                    i.fa-solid.fa-shield.fa-lg.w3-padding-small
            a.w3-bar-item.w3-button.smooth-3(href="/logout") Logout
                i.fa-solid.fa-right-from-bracket.fa-lg.w3-padding-small  
    .w3-container
        if user   
            div(id="profile-div")
                form(action="/editProfile" id="form" method="POST") 
                    table.w3-padding.w3-bordered
                        tr
                            td.w3-text-teal Username
                            td
                                input.w3-center(type="text" name="username" value=user.username disabled)
                        tr 
                            td.w3-text-teal Nome
                            td
                                input.w3-center(type="text" name="name" value=user.name disabled)
                        tr 
                            td.w3-text-teal Email
                            td
                                input.w3-center(type="text" name="email" value=user.email disabled)
                        tr 
                            td.w3-text-teal Data de criação da conta
                            td= user.dateCreated
                        tr 
                            if user.level == "admin"
                                td.w3-text-teal Tipo de Conta
                                td Admin
                                    i.fa-solid.fa-shield.fa-lg
                            else
                                td.w3-text-teal Tipo de Conta
                                td Normal
                                    i.fa-solid.fa-user.fa-lg
                    .w3-row.w3-margin-top
                        .w3-half
                            input.w3-button.w3-teal.w3-round.confirmButton(id='confirmButton' value="Confirmar" type="submit" style="display: none")
                        .w3-half.w3-right
                            a(href="/profile")
                                button.w3-button.w3-red.w3-round.w3-right.w3-margin-left(id='cancelButton' type="button") Cancelar
                            button.w3-button.w3-gray.w3-round.w3-right.editButton(id='editButton' onclick='enableEdition()' type="button")
                                i.fa-solid.fa-pencil
                                |    Editar
        
        else
            h2 Perfil não pode ser visualizado

    footer.w3-container.w3-teal.w3-center.w3-bottom
        p &copy; 2023 MOP

    script(src="/javascripts/pages/profile.js")

